
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <table hight="500px" width="700px">
        <tr><td><img src="~/Content/images/about-1.jpg" hight="500px" width="700px" /></td></tr>
    </table>
    <div>
        <h1>Fish House Services </h1>
        <br /><br />
        <h2>
            <br />Ahemdabad  City<br />Gujrat - India
        </h2>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

