
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center class="centergallery">
    <table class="tablegallery">
        <tr>
            <td colspan="3" align="center"><h1>Our Gallery</h1></td>
        </tr>
        <tr>
            <td> <img src="~/Content/images/g1.jpg" width="300px" alt=""></td>
            <td><img src="~/Content/images/g2.jpg" height="300px" width="300px" alt=""></td>
            <td><img src="~/Content/images/g3.jpg" height="300px" width="300px" alt=""></td>
        </tr>
        <tr>
            <td><img src="~/Content/images/g4.jpg" height="300px" width="300px" alt=""></td>
            <td><img src="~/Content/images/g5.jpg" height="300px" width="300px" alt=""></td>
            <td><img src="~/Content/images/g6.jpg" height="300px" width="300px" alt=""></td>
        </tr>
    </table>
</center>



