
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="features" id="services">
    <div class="container">
        <div class="agileits_w3layouts_features_grids">

            <div class="col-md-4 agileits_w3layouts_features_grid">
                <img src="~/Content/images/serve1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-8 agileits_w3layouts_sercvices">

                <div class="col-md-6 w3ls-agile-service-grid">
                    <div class="agileits-icon-grid">
                        <div class="icon-right">
                            <i class="fa fa-anchor" aria-hidden="true"></i>
                            <h5>Fishing equipment</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls-agile-service-grid">
                    <div class="agileits-icon-grid">

                        <div class="icon-right">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <h5>Best fishing books</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls-agile-service-grid">
                    <div class="agileits-icon-grid">
                        <div class="icon-right">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            <h5>Fishing competition</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls-agile-service-grid">
                    <div class="agileits-icon-grid">

                        <div class="icon-right">
                            <i class="fa fa-hand-o-up" aria-hidden="true"></i>
                            <h5>Where to fish</h5>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>


            <div class="clearfix"> </div>
        </div>

    </div>
</div>




